*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/.gitignore
/app/.idea/.gitignore
/.idea/.name
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.idea/gradle.xml
/app/.idea/gradle.xml
/.idea/jarRepositories.xml
/app/local.properties
/.idea/misc.xml
/app/.idea/misc.xml
/../.idea/modules.xml
/app/.idea/modules.xml
/../.idea/nd940-android-kotlin-course1-starter.iml
/.idea/codeStyles/Project.xml
/../.idea/vcs.xml
/.idea/vcs.xml
/app/.idea/vcs.xml
/../.idea/workspace.xml
